/*custom file sheet*/
.webhitsCol
{
	border: 2px solid #ddd;
	border-radius: 8px;
	border-color: #F29F05;
	padding: 0 15px;


}

.popCategories
{
	border: 2px solid #ddd;
	border-radius: 8px;
	border-color: #F29F05;
}

.secondRow
{
	border: 2px solid #ddd;
	border-radius: 8px;	
	border-color: #F29F05;
}

.lastRow{
	border: 2px solid #ddd;
	border-radius: 8px;
	border-color: #F29F05;
}

h1{
	font-family:Gauntlet;
}


.actTab{
/*background-color: #F29F05;*/
	
}

