@font-face { font-family: Gauntlet; src: url('../GauntletClassic_TB.otf'); } 

.panel-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  }

  .btn-sm {
  	
  background-color: #80BF34;
 
}

.lastRow{
	border: 1px solid #ddd;
	border-radius: 8px;
	border-color: #428BCA;
}

.panel-info{
  background: #D8ECCB;
}