<!-- This is the base template. All other web pages will inherit a basic structure from this file -->
<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
		<link rel=stylesheet type=text/css href ="{{ url_for('static', filename='style.css') }}">
		<script src = "http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	</head>
	<body>
		<div class="main-wrapper">
		{% block content %}{% endblock %}
		</div>
	</body>
</html>