{% extends "base_template.html" %} 
{% block content %}
	{% if username %}
		<p> Welcome {{username}} </p>
	{% endif %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center text-primary">
				Clara-Lytics
			</h3>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-7 column">
			<h3 class="text-info">
				Number of website Hits
			</h3>
			<div class="tabbable" id="tabs-263782">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-465099" data-toggle="tab">Weekly</a>
					</li>
					<li>
						<a href="#panel-304865" data-toggle="tab">Monthly</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-465099">
						<p>
							hits for a week
						</p>
					</div>
					<div class="tab-pane" id="panel-304865">
						<p>
							hits for a month
						</p>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div id="content" style="height:120px;width:400px;float:left; border-top: 1px #ddd;">
						<p>graph goes here</p>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					 <button type="button" class="btn btn-sm">&lt;&lt;Prev</button>
				</div>
				<div class="col-md-6 column">
					 <button type="button" class="btn btn-sm">Next&gt;&gt;</button>
				</div>
			</div>
		</div>

		<div class="col-md-offset-1 col-md-4 column">
			<h3 class="text-center text-info">
				Most popular categories
			</h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Panel title
					</h3>
				</div>
				<div class="panel-body">
					Panel content
				</div>
				<div class="panel-footer">
					Panel footer
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			<h3 class="text-left text-info">
				Geographical User Base
			</h3>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div id="content" style="height:200px;width:400px;float:left;">
						<p>usa map here</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 column">
			<h3 class="text-left text-info">
				Device Type
			</h3>
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div id="content" style="height:200px;width:400px;float:left;">
						<p>pi chart goes here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					<img alt="140x140" src="http://lorempixel.com/140/140/">
				</div>
				<div class="col-md-6 column">
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
		<div class="col-md-4 column">
			<img alt="140x140" src="http://lorempixel.com/140/140/">
		</div>
	</div>
</div>
{% endblock %}