 {% extends "base_template.html" %} 
{% block content %}
 <script type="text/javascript" 
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNLMXrCM_281yiFV5-RKedAxhKEB-frvo&sensor=false"></script>
	 
 <script type="text/javascript">     
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {

      	var device_items = []

      	var device_data = $('#load_device_data').data('device');

      	$.each(device_data, function(key, value){
      		device_items.push([key, value]);
      	});
        
        var options = {
	 		is3D: true,
	        colors: ['#E5D843','#80BF34','#38A660'],
	        title: '',
	        'legend': 'right',
	        animation:{
       			duration: 8000,
        		easing: 'in'
      		},
	        pieSliceText: 'percentage',
	 	  	slices: {
	                  1: {offset: 0.2},
	                  2: {offset: 0.1},
	                  3: {offset: 0.0},
	                  pieSliceTextStyle:{fontSize:'20'},
	                  'pieStartAngle':'160'
	        },
			chartArea:{left:40,top:20,width:"100%",height:"100%"}
	    };

      	var pie_data = new google.visualization.DataTable();
      	pie_data.addColumn('string', 'Device Type');
      	pie_data.addColumn('number', 'Number of Visitors');
      	pie_data.addRows(device_items);

      	var row = 0;
      	var col = 0;

      	var chart = new google.visualization.PieChart(document.getElementById('pie'));
    	chart.draw(pie_data, options);

      }
 </script>

 <!-- script for bargraph -->
 <script>
	  google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
 	  function drawChart() {
          // Create and populate the data table.
        var option = {
        	title:"Number of visits this month (shown per week)",
          	width:500, 
          	height:200,
         	animation: {
         		duration: 3000, 
         		easing: 'in'
         	},
         	vAxis: {
         		title: "",
         		titleTextStyle: {
         			color: 'red'
         		}
         	},
     		'legend':'none',
             hAxis: {
             	title: "Hits on each week", 
             	minValue:0, 
             	maxValue:800,
             	titleTextStyle: {
             		color: 'red'
             	},
           	gridlines:{
           		color:'#D1D0CE'
           	}
           },
          series: {
        		0: {
                    // set the color to change to
                    color: '80BF34',
                    // don't show this in the legend
                    visibleInLegend: false,       
          
                },
                1: {
                    // set the color to change to
                    color: 'FFA500',
                    // don't show this in the legend
                    visibleInLegend: false,      
                }
  			}
        
     	};
		var monthly_hits = $('#load_monthly_hits').data('mhits');

        var data = new google.visualization.DataTable();    
        data.addColumn('string', 'Week');
        data.addColumn('number', 'Hits');
        $.each(monthly_hits, function(key, value){
        	data.addRow(['Week' + key, 0]);
        });

        // Create and draw the visualization.

        var chart = new google.visualization.BarChart(document.getElementById('monthly-hits-panel'));
        chart.draw(data, option);
        var row_index = 0;
        $.each(monthly_hits, function(key, value){
        	data.setValue(row_index, 1, value);
        	row_index++;
        });
        chart.draw(data, option);
      }

 </script>

<!--script for line graph -->
<script>
 	  google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {

      	var weekly_stats = []
		var weekly_hits = $('#load_weekly_hits').data('whits');

      	$.each(weekly_hits, function(key, value){
      		weekly_stats.push([value[0], 0]);
      	});

		var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
    	data.addColumn('number', 'Number of Visitors');
    	data.addRows(weekly_stats);

        var options = {
          title: 'Number of Visitors This Week',
		  'legend':'none',
		  colors:['#80BF34'],
		  animation: {duration: 1000, easing: 'out'},
		  hAxis:
		  {
			 format:'MMM d',
			 title:'',
			 gridlines:{count: 7, color: 'transparent'},
			 slantedText:false,
			 textStyle:{bold:true},
			 titleTextStyle: {color: 'red'}
		  },
		  vAxis:
		  {
			 title:'Number of Hits'	 ,
			 minValue:0, maxValue:100,
			 gridlines:{count:5, color:'#D1D0CE'},
			 textStyle:{bold:true},
			 titleTextStyle: {color: 'red'}
		  },
		  pointSize:6,
		  lineWidth:3
        };

        var chart = new google.visualization.LineChart(document.getElementById('weekly-hits-panel'));
		chart.draw(data, options);
		var row_index = 0;
      	$.each(weekly_hits, function(key, value){  		
      		data.setValue(row_index, 1, value[1]);
      		row_index++;
      	});
      	chart.draw(data, options);
	}
</script>
<div class = "navbar navbar-default">
	<div class="nav-wrapper">
		<div class="left" style="float:left;height:inherit;">
			<h1 class="app-header text-center text-primary">
				ClaraLytics
			</h1>
		</div>
		<div class = "right" style="float:right;height:inherit">
			<div id="login_button">
				{% if username %}
					<!--<span class="welcome-msg">Welcome! {{ username }}</span>-->
				  	<button type="button" class="btn btn-default dropdown-toggle glyphicon glyphicon-user user-icon" data-toggle="dropdown">
				  	<span class="caret"></span>
						</button>
					<ul class="dropdown-menu pull-right user-menu" role="menu">
					    <li class="welcome-msg">Welcome! {{ username }}</li>
					    <br>
					    <li class="login-button"><a class="logout-btn btn-sm btn-primary" href="/logout" role="button">Logout</a></li>
					 </ul>
					<br>
					<!--<a href="/logout"> Logout </a>-->
				{% else %}
					<a href="/login"> Login </a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-stats"></span>  Number of Hits
					</h3>
				</div>
				<div class="tabbable" id="tabs-263782">
				<ul class="nav nav-tabs">
					<li class="active actTab">
						<a href="#weekly-hits-panel" data-toggle="tab">Weekly</a>
					</li>
					<li>
						<a href="#monthly-hits-panel" data-toggle="tab">Monthly</a>
					</li>
				</ul>
				<div class="tab-content graphs">
					<div id="load_weekly_hits" data-whits="{{controller.fetch_weekly_visits()}}" style="display:none"></div>	
					<div class="tab-pane active weekly_hits" id="weekly-hits-panel">
						<p>
							hits for a week
						</p>
					</div>
					<div id="load_monthly_hits" data-mhits="{{controller.fetch_monthly_visits()}}" style="display:none"></div>	
					<div class="tab-pane" id="monthly-hits-panel">
						<p>
							hits for a month
						</p>
					</div>
				</div>
			</div>
			<!--<div class="nav-buttons row clearfix">
				<div class="col-md-4 column">
				</div>
				<div class="col-md-4 column">
					 <button type="button" class="nav-btns btn btn-sm btn-primary">
					 	<span class="glyphicon glyphicon-chevron-left"></span>Prev</button>
				</div>
				
				<div class="col-md-4 column">
					 <button type="button" class="nav-btns btn btn-sm nextbtn btn-primary">Next<span class="glyphicon glyphicon-chevron-right"></span>
					 </button>
				</div>
			</div>--> 
			</div>
		</div>
		<div class="col-md-6 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-eye-open"></span> Most Popular Pages This Month
					</h3>
				</div>
				<div class="col-md-12 column">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th></th>
						<th>
							Page Title
						</th>
						<th>
							Views
						</th>
					</tr>
				</thead>
				<tbody>
					{% for article, views in controller.fetch_popular_articles() %}
					<tr>
						<td></td>
						<td>{{ article|e }}</td>
						<td>{{ views|e }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>				
		</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-road"></span> Geographic User Base
					</h3>
				</div>
				<div class="panel-body">
				<div id="geo_hits" data-geo="{{controller.fetch_geo_network()}}" style="display:none"></div>
					Panel content
				</div>
				<div class="panel-body" id="Geomap" style="width: 700px; height: 400px">
                <script type="text/javascript"> 
					var geo_data = $('#geo_hits').data('geo');
					var geo_items = [];
					$.each(geo_data, function(key, value){
	      				geo_items.push([key, value]);
						});
					
				  var source="{{url_for('static',filename='MapCoordinates.json')}}";
					
				  var minZoomLevel = 4;
				  var maxZoomLevel=6;
			      var myOptions = { 
				  mapTypeId: google.maps.MapTypeId.ROADMAP, 
				  center: new google.maps.LatLng(38.55547456,-95.664999),
				  zoom:minZoomLevel,
				  scaleControl:false,
				   panControl: false,
				   width:450,
				   height:400,
				   zoomControl:true,
				   zoomControlOptions: {
					   style: google.maps.ZoomControlStyle.DEFAULT},
				   overviewMapControl:false
				   };
	   
	  
			      var map = new google.maps.Map(document.getElementById('Geomap'), myOptions);
				  
				   var strictBounds = new google.maps.LatLngBounds(
			     	new google.maps.LatLng(28.70, -127.50), 
			     	new google.maps.LatLng(48.85, -55.90)
			   	  );
	  
		  google.maps.event.addListener(map, 'dragend', function() {
	     if (strictBounds.contains(map.getCenter())) return;

     // We're out of bounds - Move the map back within the bounds

     var c = map.getCenter(),
         x = c.lng(),
         y = c.lat(),
         maxX = strictBounds.getNorthEast().lng(),
         maxY = strictBounds.getNorthEast().lat(),
         minX = strictBounds.getSouthWest().lng(),
         minY = strictBounds.getSouthWest().lat();

     if (x < minX) x = minX;
     if (x > maxX) x = maxX;
     if (y < minY) y = minY;
     if (y > maxY) y = maxY;

     map.setCenter(new google.maps.LatLng(y, x));
   });

   // Limit the zoom level
   google.maps.event.addListener(map, 'zoom_changed', function() {
     if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
	 if(map.getZoom()> maxZoomLevel)map.setZoom(maxZoomLevel);
   });  
   
    var image ="{{url_for('static',filename='icon.png')}}";
     $(document).ready(function() {
        $.getJSON(source, function(info) {
         for (var i = 0; i <= info.Values.length-1; i++) {
			 for(var j=0;j<=geo_items.length -1;j++)
			 {
			 /*console.log('JSON VAL: ' + info.Values[i]['STATE'].toUpperCase() + ' GITEMS: ' + geo_items[j][0].toUpperCase());
			 console.log('JSON VAL: ' + info.Values[i]['STATE'].toUpperCase().length + ' GITEMS: ' + geo_items[j][0].toUpperCase().length);*/
			 if(info.Values[i]['STATE'].toUpperCase()==geo_items[j][0].toUpperCase())
			 {
	            var latLng = new google.maps.LatLng(info.Values[i]['LATITUDE'],info.Values[i]['LONGITUDE']); 
				var title="STATE:"+info.Values[i]['STATE'];
	            var marker=createMarker(latLng,info.Values[i]['STATE'],geo_items[j][1]);
			 }
		 }
		 }
		
		   });
		});
        
		
		function createMarker(pos,t,value)
		{
				//console.log('Reached Here');
				var marker = new google.maps.Marker({
                position:pos,
				map:map,
				draggable:false,
				animation: google.maps.Animation.DROP,
               // title:t,
				zIndex:5000,
				icon: image
				 });
				 google.maps.event.addListener(marker, 'click',function()
				 {
					 if (marker.getAnimation() != null) 
					 {
    					marker.setAnimation(null);
  			 		} 
			 		else 
			 		{
    					marker.setAnimation(google.maps.Animation.BOUNCE);
 			  		}
					 
				 });
				 var contentString = '<div  style="font-size:15px" id="content"><div id="state" style="padding:0;"><p><b>State:</b></p><span style="color:#008080;"><b>'+t+'</b></p></div><div id="userbase" style="padding:0;"><p><b>UserBase:</b></p><span style="color:#008080;"><b>'+value+'</b></p></div></div>';
				 var infowindow = new google.maps.InfoWindow({
      				content: contentString });
				  google.maps.event.addListener(marker, 'click', function() {
   					 infowindow.open(map,marker);
					 });
				return marker;
		}
		
    </script>
    </div>
				<div class="panel-footer">
					Panel footer
				</div>
                
			</div>
		</div>
		<div class="col-md-4 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-phone"></span> Device Type
					</h3>
				</div>
				<div id="load_device_data" data-device="{{controller.fetch_device_type()}}" style="display:none"></div>	
				<div class="row clearfix">
					<div class="col-md-12">
						<div id = "pie" style="height:400;width:400">	
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="container">
	<!-- new stuff -->
		<div class="row clearfix">
		<div class="col-md-12 column">
			
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						Social Media Presence
					</h3>
				</div>
				<div class="panel-body">
				
				<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
						<div class="row clearfix">
							<div class="col-md-6 column">
								<img alt="300x200" style ="float:right"src="{{ url_for('static', filename='fb_logo.png') }}" />
							</div>
							<div class="col-md-6 column">							
								<h2 class="text-center text-primary" style = "float:left">
									30
								</h2>						
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<div class="row clearfix">
							<div class="col-md-6 column">
								<img alt="300x200" class="img-rounded" style ="float:right" src="{{ url_for('static', filename='twitter_logo.png') }}" />
							</div>
							<div class="col-md-6 column">							
								<h2 class="text-center text-primary" style = "float:left">
									30
								</h2>						
							</div>
						</div>
					</div>
					<div class="col-md-4 column">
						<div class="row clearfix">
							<div class="col-md-6 column">
								<img alt="300x200" style ="float:right" src="{{ url_for('static', filename='gplus_logo.png') }}" />
							</div>
							<div class="col-md-6 column">
								<h2 class="text-center text-primary" style = "float:left">
									30
								</h2>
							
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
						
				</div>
					
			</div>
	</div>
</div>
{% endblock %}