{% extends "base_template.html" %} 
{% block content %}
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron well landingTitle">
				<h1 class ="projTitle" >
					Clara-Lytics
				</h1>
				<p>
					A Website Analytics DashBoard
				</p>
				
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-6 column">
			<h2>
				
			</h2>
			<p>
				A Web Analytics Dashboard
			</p>
			<p>
				<!--<a class="btn" href="#">View details »</a>-->
				<!--<a href="/login"> Login </a>-->
				<a href="/login" class="btn btn-lg btn-primary btn-block" role ="button"> Login with Google Account </a>
			<!--</p> <button type="button" class="btn btn-lg btn-primary btn-block">Login with Google Account</button>-->
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<footer>
		<div class="row clearfix">		
		<div class="col-md-4 column">
			<p>
				About Clara-Lytics
			</p>
			<p>
				The clara-Lytics is an analytics dashboard that helps you analyse your website's traffic using various metrics
			</p>
		</div>
		<div class="col-md-4 column">
			<p>
				Features
			</p>
			<p>
				The clara-Lytics is an analytics dashboard that helps you analyse your website's traffic using various metrics
			</p>
		</div>
		<div class="col-md-4 column">
			<p>
				Contact Us
			<p>
			<p>
				<small> Prithvi, Pooja , Pranav</small>
			</p>
		</div>
	</div>
	</footer>
	
</div>

{% endblock %}